h1{
    
    font-size: 55px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}
h2 {
    border-bottom: 2px solid gray;
    margin-bottom: 0;
}
h3 {
    border-top: 2px solid gray;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
ul {
    margin-top: 10px;
}
#potato {
    color: burlywood;
    text-decoration: none;
}
#egg {
    text-decoration: none;
    color: blanchedalmond;
}
#banana {
    text-decoration: none;
    color: yellowgreen;
}
#tomato {
    text-decoration: none;
    color: red;
}
#chicken {
    text-decoration: none;
    color: bisque;
}
#grid {
    display: grid;
    grid-template-columns: 160px 1fr;
    /* column-gap: 16px; */
}
#daynightbutton {
    height: 30px;
    align-self: top;
}
#topgrid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
ol {
    padding: 14px 10px 0 30px ;
    margin: 0;
    border-right: 2px solid gray; 
    /* width: 110px; */
    background-color: gray;
}
#ingred {
    background-color: aqua;
}
#ingred li {
    word-break: break-word;
    white-space: normal;
}

@media (max-width:700px) {
    h3 {
        border-top: 0;
    }
    
    #ingred {
        
        grid-column: 2;  /* ol 오른쪽 칸 */
        grid-row: 1;     /* 첫 줄에 */
    }
   
}
@media (min-width:700px){
    ol {
        border-right: 0;
    }
}